.App{
    flex-direction: row;
    display: flex;
}

.menu{
    width: 15vw;
    height: 100vh;
    min-width: 170px;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #eee;
    width: 85vw;
    height: 5vh;
    min-width: 300px;
}

.main{
    background-color: #fff;
    color: #000;
    height: 90vh;
    width: 85vw;
    min-width: 300px;
}

.footer{
    background-color: #555;
    width: 85vw;
    height: 5vh;
    min-width: 300px;
}

.button{
    background: transparent;
    border: 0;
    display: flex;
    align-items: flex-start ;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 2px;
    padding-left: 15px;
    color: #aaa;
    text-decoration: none;
}

.button:hover{
    color: #e66928;
}

.current_page{
    color: #e66928;
}

.button span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}